{% extends 'base.html' %}
{% block content %}

<div class="container white-text flow-text">
    <div class="row no-padding-bottom">
        <div class="col s12">
            <div class="section"></div>
            <div class="card grey darken-3 z-depth-0 no-padding-bottm no-top-padding">
                <div class="card-content">
                    <div class="row no-padding-bottom">
                        <div class="col s12">
                            <h3>
                                VZLink
                            </h3>

                            <p>
                                Use VZLink to create short, memorable links to replace those long, 
                                and often impossible to remember, links to your favorite places on the web. 
                                Simplify your internet experience with VZLink for free.
                            </p>
                            <div class="section"></div>
                            <p>URL:</p>
                        </div>
                    </div>

                    <div class="row ">
                        <form action="/app/get-short-link" method="POST" id="short-link-form">
                            <div class="col s12 m10 l10 input-field no-top-padding">
                                {{ url_form.csrf_token }}
                                {{ url_form.url(class="white-text", required="", pattern="https{0,1}://.*\..+", title="Enter a valid URL, i.e. https://github.com/VirtualZero/vzlink") }}
                                <span class="helper-text red-text text-accent-1" style="display: none;" id="invalid-url"></span>
                            </div>
                            
                            <div class="col s12 m2 l2">
                                <button class="hoverchange btn-flat white-text center waves-effect purple darken-1 full-width-button" type="submit">
                                    Get Link &nbsp;<i class="fas fa-link"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}